<h2>Questions</h2>
<div class="row">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
            <% @questions.each do |question| %>
            <tr>
                <td><%= question.id %></td>
                <td><%= link_to question.title, question_path(question) %></td>
                <% if @current_user %>
                    <td> [ <%= link_to 'Edit', edit_question_path(question) %> ]
                    [ <%= link_to 'Delete', question_path(question), method: :delete, data:{ confirm: 'Are you sure?'} %> ] </td>
                <% else %>
                    <td>編集にはログインが必要です</td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
    <div>
        <%= link_to 'New question', new_question_path %>
    </div>
</div>